.Footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ffffff;
  width: 100%;
  height: 150px;
  justify-content: flex-start;
  align-items: center;
}

.Footer .Footer__left {
  width: 50%;
  height: 150px;
}
.Footer .Footer__left .Footer__logo {
  width: 400px;
  height: 150px;
  background-size: cover;
}

.Footer .Footer__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Footer .Footer__center li {
  margin-top: 10px;
  font-size: 13px;
  color: #707070;
}
