@keyframes silde {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}

Header {
  width: 190px;
  height: 600px;
  background-color: rgb(0, 0, 0, 0.37);
  border-bottom-right-radius: 85px;
}

Header a .Header__logo {
  width: 190px;
  height: 70px;
  background-size: cover;
}

Header input {
  color: white;
}
