@keyframes silde {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}

Header {
  width: 190px;
  height: 500px;
  background-color: rgba(32, 32, 32, 0.37);
  border-bottom-right-radius: 85px;
  animation: silde 1s forwards;
  position: absolute;
}

Header a .Header__logo {
  margin: 10px 0px 50px 0px;
  width: 190px;
  height: 55px;
}

Header a {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

Header a:hover {
  font-size: 20px;
  color: #ffc300;
}

Header ul {
  margin-bottom: 70px;
}

Header li {
  margin: 0px 0px 25px 20px;
}
